class Solution

    def initialize
    end

    def runner
        STDIN.each_line do |line|
            # process input
        end
    end

    def part1
        puts "NOT SOLVED"
    end

    def part2
        puts "NOT SOLVED"
    end

    def run
        runner()
        part1()
        part2()
    end

end

solution = Solution.new()
solution.run()
